<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title>Home</title>
</head>
<body>
<div class="index-pop-cover">
    <div class="modal" id="index-modal">
    </div>
</div>
<div class="index-body">
    <aside>
        <ul class="home-menu">
        </ul>
    </aside>
    <main>
        <div class="index-main-header index-main-layer">
            <h1 class="index-logo-header">Algor</h1>
            <hr class="horizontal-divider">
            <p class="index-logo-slogan">项目开发管理平台</p>
        </div>
        <iframe src="/home" class="index-main-body index-main-layer">
        </iframe>
        <div class="index-main-footer index-main-layer">
        </div>
    </main>
</div>
</body>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/request.js"></script>
<script type="text/javascript" src="/js/utils.js"></script>
</html>